@font-face{
    font-family: sansita;
    src: url(../font/SansitaSwashed-VariableFont_wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 30px;
    font-size: 5.625rem;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}

h2 h3{
    font-family: "sansita", Arial, Helvetica, sans-serif;
}
h2{
    font-size: 1.875rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    padding: 30px 0;
}

p{
    line-height: 2;
}

hr{
    border: dotted #40514E 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud{
    opacity: 0.2;
    width: 100px;
    position: absolute;
    right: 350px;
    top: 350px;
}

.bottom-cloud{
    opacity: 0.2;
    width: 100px;
    position: absolute;
    left: 400px;
    bottom: 285px;
}

.dan{
    margin: 40px auto;
    width: 150px;
    border-radius: 60%;
}

.Dee{
    text-decoration: underline;
    color: #40514E;

}

.mount{
    width: 50%;
    height: 450px;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;

}

.intro{
    width: 40%;
    margin: auto;
}

.skill-row{
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.anchor-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}

a{
    color: #11999E;
    font-family: 'Merriweather', serif;
    margin: 10px;
    text-decoration: none;
}

.pawn{
    color: #CD0A0A;
}

.heart{
    color:#FF414D;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 30px 0;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "sansita",Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }